@keyframes mrs-frames--appear-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mrs-frames--appear-scale {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes mrs-frames--appear-fade-slide-top {
    0% {
        opacity: 0;
        transform: translate(-60px);
    }
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes mrs-frames--appear-fade-slide-left {
    0% {
        opacity: 0;
        transform: translate(0px, 64px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}